<% type ||="info"%>
<div class="alert alert-<%= type %> alert-dismissible fade show" role="alert" style="margin: 5px 15px 0px 15px;">
    <%= msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>