<body>
    <h1>Hrushikesh</h1>
    <p>Hi there.My hobbies are:</p>
    <ol>
        <li>Programming</li>
        <li>Watching movies</li>
        <li>table tennis</li>
        <li>Minecraft</li>
    </ol>
</body>
<style>
    body{
        font-family: Helvetica, sans-serif;
    }
    ol {
  list-style-type: square;
}
</style>