
<h1 class="text-center " >Popular Articles</h1>

<%= render partial: 'carousel', locals: {a1: @popular_articles[0], a2: @popular_articles[1], a3: @popular_articles[2] } %>

<div class="grid">
<% @articles.each do |article| %>
  <%= render partial: 'card', locals: {article: article} %>
<% end %>
<div>